In [1]:
!pip install pyensae

Requirement already satisfied: pyensae in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (1.2.788)
Requirement already satisfied: pyquickhelper>=1.5.2259 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyensae) (1.9.3100)
Requirement already satisfied: entrypoints in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.2.3)
Requirement already satisfied: autopep8 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (1.4.3)
Requirement already satisfied: semantic-version in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.6.0)
Requirement already satisfied: jupyter in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (1.0.0)
Requirement already satisfied: sphinx-gallery in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.3.1)
Requirement already satisfied: matplotlib in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.2.3)
Requirement already satisfied: docformatter in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (1.1)
Requirement already satisfied: coverage in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (4.5.3)
Requirement already satisfied: pandas>=0.20.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.24.1)
Requirement already satisfied: babel!=2.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.6.0)
Requirement already satisfied: multi-key-dict in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.0.3)
Requirement already satisfied: pycodestyle>=2.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.4.0)
Requirement already satisfied: metakernel in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.20.14)
Requirement already satisfied: nbpresent in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (3.0.0)
Requirement already satisfied: pylint in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.1.1)
Requirement already satisfied: pydocstyle in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (3.0.0)
Requirement already satisfied: sphinxcontrib-imagesvg in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.1)
Requirement already satisfied: numpy>=1.11.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (1.15.1)
Requirement already satisfied: unify in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.4)
Requirement already satisfied: simplegeneric in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.8.1)
Requirement already satisfied: docutils in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.14)
Requirement already satisfied: IPython>=5.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (6.5.0)
Requirement already satisfied: notebook>=4.2.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (5.6.0)
Requirement already satisfied: nbformat in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (4.4.0)
Requirement already satisfied: nbconvert in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (5.4.0)
Requirement already satisfied: jupyter-core in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (4.4.0)
Requirement already satisfied: jyquickhelper in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.3.128)
Requirement already satisfied: jupyter-sphinx in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (0.1.4)
Requirement already satisfied: jupyter-client in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (5.2.3)
Requirement already satisfied: sphinx>=1.8 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (2.0.1)
Requirement already satisfied: tqdm in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pyquickhelper>=1.5.2259->pyensae) (4.26.0)
Requirement already satisfied: qtconsole in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jupyter->pyquickhelper>=1.5.2259->pyensae) (4.4.1)
Requirement already satisfied: ipykernel in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jupyter->pyquickhelper>=1.5.2259->pyensae) (4.9.0)
Requirement already satisfied: ipywidgets in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jupyter->pyquickhelper>=1.5.2259->pyensae) (7.4.1)
Requirement already satisfied: jupyter-console in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jupyter->pyquickhelper>=1.5.2259->pyensae) (5.2.0)
Requirement already satisfied: setuptools in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx-gallery->pyquickhelper>=1.5.2259->pyensae) (40.2.0)
Requirement already satisfied: pillow in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx-gallery->pyquickhelper>=1.5.2259->pyensae) (5.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (2.7.3)
Requirement already satisfied: pytz in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (2018.5)
Requirement already satisfied: six>=1.10 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from matplotlib->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: untokenize in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from docformatter->pyquickhelper>=1.5.2259->pyensae) (0.1.1)
Requirement already satisfied: pexpect>=4.2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from metakernel->pyquickhelper>=1.5.2259->pyensae) (4.6.0)
Requirement already satisfied: astroid>=2.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pylint->pyquickhelper>=1.5.2259->pyensae) (2.0.4)
Requirement already satisfied: isort>=4.2.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pylint->pyquickhelper>=1.5.2259->pyensae) (4.3.4)
Requirement already satisfied: mccabe in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pylint->pyquickhelper>=1.5.2259->pyensae) (0.6.1)
Requirement already satisfied: snowballstemmer in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pydocstyle->pyquickhelper>=1.5.2259->pyensae) (1.2.1)
Requirement already satisfied: decorator in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (4.3.0)
Requirement already satisfied: jedi>=0.10 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.12.1)

Requirement already satisfied: pygments in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (2.2.0)
Requirement already satisfied: traitlets>=4.2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (4.3.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (1.0.15)
Requirement already satisfied: backcall in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.1.0)
Requirement already satisfied: pickleshare in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.7.4)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.1.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (0.8.1)
Requirement already satisfied: prometheus-client in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (0.3.1)
Requirement already satisfied: pyzmq>=17 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (17.1.2)
Requirement already satisfied: tornado>=4 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (5.1)
Requirement already satisfied: Send2Trash in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (1.5.0)
Requirement already satisfied: ipython-genutils in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (0.2.0)
Requirement already satisfied: jinja2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (2.10)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbformat->pyquickhelper>=1.5.2259->pyensae) (2.6.0)
Requirement already satisfied: mistune>=0.8.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->pyquickhelper>=1.5.2259->pyensae) (0.8.3)
Requirement already satisfied: bleach in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->pyquickhelper>=1.5.2259->pyensae) (2.1.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->pyquickhelper>=1.5.2259->pyensae) (1.4.2)
Requirement already satisfied: testpath in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->pyquickhelper>=1.5.2259->pyensae) (0.3.1)
Requirement already satisfied: defusedxml in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->pyquickhelper>=1.5.2259->pyensae) (0.5.0)
Requirement already satisfied: sphinxcontrib-applehelp in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: imagesize in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.1.0)
Requirement already satisfied: packaging in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (17.1)
Requirement already satisfied: requests>=2.5.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (2.19.1)
Requirement already satisfied: sphinxcontrib-jsmath in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (0.7.11)
Requirement already satisfied: sphinxcontrib-serializinghtml in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.1.3)
Requirement already satisfied: sphinxcontrib-devhelp in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: sphinxcontrib-htmlhelp in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: sphinxcontrib-qthelp in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.0.2)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets->jupyter->pyquickhelper>=1.5.2259->pyensae) (3.4.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pexpect>=4.2->metakernel->pyquickhelper>=1.5.2259->pyensae) (0.6.0)
Requirement already satisfied: lazy_object_proxy in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from astroid>=2.0.0->pylint->pyquickhelper>=1.5.2259->pyensae) (1.3.1)
Requirement already satisfied: wrapt in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from astroid>=2.0.0->pylint->pyquickhelper>=1.5.2259->pyensae) (1.10.11)
Requirement already satisfied: parso>=0.3.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jedi>=0.10->IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.3.1)
Requirement already satisfied: wcwidth in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->IPython>=5.0.0->pyquickhelper>=1.5.2259->pyensae) (0.1.7)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jinja2->notebook>=4.2.0->pyquickhelper>=1.5.2259->pyensae) (1.0)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from bleach->nbconvert->pyquickhelper>=1.5.2259->pyensae) (1.0.1)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from requests>=2.5.0->sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (2.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from requests>=2.5.0->sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (2018.11.29)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from requests>=2.5.0->sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (1.23)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from requests>=2.5.0->sphinx>=1.8->pyquickhelper>=1.5.2259->pyensae) (3.0.4)
Requirement already satisfied: webencodings in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->pyquickhelper>=1.5.2259->pyensae) (0.5.1)

In [2]:
!pip install qgrid

Requirement already satisfied: qgrid in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (1.1.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from qgrid) (7.4.1)
Requirement already satisfied: pandas>=0.18.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from qgrid) (0.24.1)
Requirement already satisfied: notebook>=4.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from qgrid) (5.6.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets>=7.0.0->qgrid) (4.9.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets>=7.0.0->qgrid) (4.3.2)
Requirement already satisfied: nbformat>=4.2.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets>=7.0.0->qgrid) (4.4.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets>=7.0.0->qgrid) (3.4.1)
Requirement already satisfied: ipython>=4.0.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipywidgets>=7.0.0->qgrid) (6.5.0)
Requirement already satisfied: numpy>=1.12.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pandas>=0.18.0->qgrid) (1.15.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pandas>=0.18.0->qgrid) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pandas>=0.18.0->qgrid) (2018.5)
Requirement already satisfied: terminado>=0.8.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (0.8.1)
Requirement already satisfied: jupyter-core>=4.4.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (4.4.0)
Requirement already satisfied: jinja2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (2.10)
Requirement already satisfied: jupyter-client>=5.2.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (5.2.3)
Requirement already satisfied: nbconvert in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (5.4.0)
Requirement already satisfied: prometheus-client in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (0.3.1)
Requirement already satisfied: tornado>=4 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (5.1)
Requirement already satisfied: Send2Trash in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: pyzmq>=17 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (17.1.2)
Requirement already satisfied: ipython-genutils in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from notebook>=4.0.0->qgrid) (0.2.0)
Requirement already satisfied: decorator in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid) (4.3.0)
Requirement already satisfied: six in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid) (1.11.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->qgrid) (2.6.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.1.0)
Requirement already satisfied: simplegeneric>0.8 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.8.1)
Requirement already satisfied: pickleshare in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.7.4)
Requirement already satisfied: backcall in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.12.1)
Requirement already satisfied: setuptools>=18.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (40.2.0)
Requirement already satisfied: pygments in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (2.2.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (4.6.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (1.0.15)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jinja2->notebook>=4.0.0->qgrid) (1.0)
Requirement already satisfied: mistune>=0.8.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.8.3)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: bleach in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (2.1.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (1.4.2)
Requirement already satisfied: testpath in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.3.1)
Requirement already satisfied: defusedxml in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.5.0)
Requirement already satisfied: parso>=0.3.0 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.3.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.6.0)
Requirement already satisfied: wcwidth in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.1.7)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.0.0->qgrid) (1.0.1)
Requirement already satisfied: webencodings in /Users/bn8210wy/.pyenv/versions/anaconda3-5.3.0/lib/python3.7/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook>=4.0.0->qgrid) (0.5.1)

In [1]:
%load_ext pyensae

In [3]:
%SQL_connect ./databases/baseball_full.db

### **Question 1, Part a**
Calculating the ERAs considered OK for Minnesota Twins and Milwauke Brewers Players.

**dplyr code**

`Pitching
    %>% select(playerID, teamID, ER, IPouts)
    %>% filter((teamID == "MIL" | teamID == "MIN") & YearID == '2000)
    %>% mutate(Calc_Era = (ER/(Ipouts/3))*9
    %>% filter(Calc_ERA < 4)
    %>% select(playerID, teamID, Calc_ERA)`

In [27]:
%%SQL
    SELECT PlayerID, TeamID, (ER/(IPouts/3.0))*9 AS Calc_ERA
    FROM Pitching
    WHERE  TeamID IN("MIL", "MIN") AND YearID = '2000' AND Calc_ERA < 4

    playerID teamID  Calc_ERA   ERA
0  aceveju01    MIL  3.810484  3.81
1  damicje01    MIL  2.661191  2.66
2  guarded01    MIN  3.940541  3.94
3  hawkila01    MIN  3.387833  3.39
4   kingra01    MIL  1.255814  1.26
5  leskacu01    MIL  2.560345  2.56
6  milletr01    MIN  3.895522  3.90
7  weathda01    MIL  3.065502  3.07
8  wellsbo01    MIN  3.648649  3.65
9  wickmbo01    MIL  2.934783  2.93

### Question 1, Part b

Calculating the ERA for the Minnesota Twins and Milwauke Brewers for the years 2000, 2005, 2010, and 2015.

**dplyr code**

`Teams
    %>% select(teamID, yearID, ER, IPouts)
    %>% filter((teamID == "MIL" | teamID == "MIN) & (yearID %in% ('2000', '2005', '2010', '2015)))
    %>% mutate(Calc_ERA = (ER/(IPouts/3))*9)
    %>% select(yearID, teamID, Calc_ERA)
    %>% arrange(yearID, teamID)`

In [30]:
%%SQL
    SELECT teamID, yearID, (ER/(IPouts/3.0))*9 AS Calc_ERA
    FROM Teams
    WHERE  teamID IN("MIL", "MIN") AND yearID IN ('2000', '2005', '2010', '2015')

  teamID  yearID  Calc_ERA
0    MIL    2000  4.634008
1    MIN    2000  5.144951
2    MIL    2005  3.974270
3    MIN    2005  3.712270
4    MIL    2010  4.584434
5    MIN    2010  3.952731
6    MIL    2015  4.277352
7    MIN    2015  4.072765

### Question 2, Part a

Finding the average salary by team for 2006 and 2012.  

**dplyr code**

`(Franchises
    %>% select(franchID, franchName)
  ) -> Franch
  
  (Teams
      %>% select(yearID, teamID, franchID)
      %>% left_join(Franch, by = "franchID")
      %>% select(teamID, franchName)
  )-> Teams_Franch
  
  Salaries
      %>% select(yearID, teamID, salary)
      %>% filter(yearID %in% ('2006', '2012')
      %>% inner_join(Teams_Franch, by = "teamID")
      %>% group_by(franchName, teamID, yearID)
      %>% summarize(Avg_Salary = mean(salary))`

In [36]:
%%SQL
    SELECT YearID, franchName, teamID, AVG(Salary) AS Avg_Salary
    FROM (SELECT A.yearID, A.teamID, A.Salary, B.teamID, B.franchName
             FROM Salaries AS A
                 LEFT JOIN(SELECT A.yearID, A.teamID, A.franchID, B.franchID, B.franchName
                              FROM Teams AS A
                                  LEFT JOIN TeamsFranchises AS B
                                ON A.franchID = B.franchID) AS B
              ON A.teamID = B.teamID)
    WHERE yearID IN ('2006', '2012')
    GROUP BY franchName, teamID, yearID

   yearID            franchName teamID    Avg_Salary
0    2006  Arizona Diamondbacks    ARI  2.295547e+06
1    2012  Arizona Diamondbacks    ARI  2.733512e+06
2    2006        Atlanta Braves    ATL  3.108858e+06
3    2012        Atlanta Braves    ATL  2.856205e+06
4    2006     Baltimore Orioles    BAL  2.592342e+06
5    2012     Baltimore Orioles    BAL  2.762643e+06
6    2006        Boston Red Sox    BOS  4.448142e+06
7    2012        Boston Red Sox    BOS  5.093724e+06
8    2006          Chicago Cubs    CHN  3.372304e+06
9    2012          Chicago Cubs    CHN  3.392194e+06

### Question 2, Part b

Find the team with the largest salary overall, regardless of year.

**dplyr code**

`Salaries
    %>% select(yearID, teamID, salary)
    %>% inner_join(Teams_Franch, by = "teamID")
    %>% group_by(franchName, teamID, yearID)
    %>% summarize(Avg_Salary = mean(salary))
    arrange(desc(Avg_Salary))`

In [40]:
%%SQL
    SELECT YearID, franchName, teamID, AVG(Salary) AS Avg_Salary
    FROM (SELECT A.yearID, A.teamID, A.Salary, B.teamID, B.franchName
             FROM Salaries AS A
                 LEFT JOIN(SELECT A.yearID, A.teamID, A.franchID, B.franchID, B.franchName
                              FROM Teams AS A
                                  LEFT JOIN TeamsFranchises AS B
                                ON A.franchID = B.franchID) AS B
              ON A.teamID = B.teamID)
    GROUP BY franchName, teamID, yearID
    ORDER BY Avg_Salary DESC

   yearID           franchName teamID    Avg_Salary
0    2010     New York Yankees    NYA  8.253336e+06
1    2014     New York Yankees    NYA  8.230996e+06
2    2005     New York Yankees    NYA  8.011801e+06
3    2009     New York Yankees    NYA  7.748046e+06
4    2016     New York Yankees    NYA  7.689579e+06
5    2013     New York Yankees    NYA  7.483190e+06
6    2015  Los Angeles Dodgers    LAN  7.441103e+06
7    2015     New York Yankees    NYA  7.336274e+06
8    2013  Los Angeles Dodgers    LAN  6.980069e+06
9    2011     New York Yankees    NYA  6.975001e+06

### Question 3

Get a list of the players' names for the Detriot Tigers that have been born since 1980.

**dplyr code**

`(Batting
    %>% select(teamID, playerID)
    %>% distinct(teamID, playerID)
    %>% filter(teamID == "DET")
  ) -> Batting2
  
  People
      %>% select(nameFirst, nameLast, playerID, birthYear)
      %>% filter(birthYear >= "1980")
      %>% left_join(Batting2, by = "playerID")
      %>% filter(teamID != "<NA>")
      %>% arrange(desc(nameLast))
      %>% transmute(TeamID = teamID, Player_Name = paste(namefirst, nameLast, sep = " "))`

In [44]:
%%SQL
    SELECT teamID, CONCAT(nameFirst, nameLast) AS Player_Name
    FROM (SELECT A.nameFirst, A.nameLast, A.playerID, A.birthYear, B.teamID, B.playerID
             FROM (SELECT nameFirst, nameLast, playerID, birthYear
                      FROM People WHERE birthYear >=190) AS A
                         INNER JOIN (SELECT teamID, playerID 
                                        FROM Batting WHERE teamID == "DET") AS B
         ON A.playerID = B.playerID)
    ORDER BY A.nameLast DESC

unable to execute a SQL request (1)(file ./databases/baseball_full.db)
SELECT teamID, CONCAT(nameFirst, nameLast) AS Player_Name
    FROM (SELECT A.nameFirst, A.nameLast, A.playerID, A.birthYear, B.teamID, B.playerID
             FROM (SELECT nameFirst, nameLast, playerID, birthYear
                      FROM People WHERE birthYear >=190) AS A
                         INNER JOIN (SELECT teamID, playerID
                                        FROM Batting WHERE teamID == "DET") AS B
         ON A.playerID = B.playerID)
    ORDER BY A.nameLast DESC
no such function: CONCAT
'SELECT teamID, CONCAT(nameFirst, nameLast) AS Player_Name
    FROM (SELECT A.nameFirst, A.nameLast, A.playerID, A.birthYear, B.teamID, B.playerID
             FROM (SELECT nameFirst, nameLast, playerID, birthYear
                      FROM People WHERE birthYear >=190) AS A
                         INNER JOIN (SELECT teamID, playerID
                                        FROM Batting WHERE teamID == "DET") AS B
         ON A.playerID = B.playerID)
    ORDER BY A.nameLast DESC'

### Question 4

Calculating OPS for each player since 2010.

**dplyr code**

`Batting
    %>% filter(yearID >= "2010" & HBP != "NA" & SH != "NA")
    %>% transmute(ID = playerID, OBP = ((H + BB + HBP)/(AB + BB + SH + HBP)), SLG = ((H + 2*X2B + 3*X3B + 4*HR)/AB))
    %>% transmute(ID = ID, OBP = OBP, SLG = SLG, OPS = OBP + SLG)
    %>% filter(OPS != "NaN" & OPS != "0")`

In [47]:
%%SQL
    SELECT playerID, ((H + BB + HBP) /(AB + BB + SH + HBP)) AS OBP, ((H + 2*X2B + 3*X3B + 4*HR)/AB) AS SLG,
    (OBP + SLG) AS OPS
    FROM Batting
    WHERE yearID >= 2010 AND OPS != "." AND OPS > 0

unable to execute a SQL request (1)(file ./databases/baseball_full.db)
SELECT playerID, ((H + BB + HBP) /(AB + BB + SH + HBP)) AS OBP, ((H + 2*X2B + 3*X3B + 4*HR)/AB) AS SLG,
    (OBP + SLG) AS OPS
    FROM Batting
    WHERE yearID >= 2010 AND OPS != "." AND OPS > 0
no such column: X2B
'SELECT playerID, ((H + BB + HBP) /(AB + BB + SH + HBP)) AS OBP, ((H + 2*X2B + 3*X3B + 4*HR)/AB) AS SLG,
    (OBP + SLG) AS OPS
    FROM Batting
    WHERE yearID >= 2010 AND OPS != "." AND OPS > 0'

### Question 5

Find the number of players from each college or university for 2009.

**dplyr code**

`(CollegePlaying
    %>% select(schooID, yearID)
    %>% filter(yearID == '2009)
    %>% group_by(schoolID)
    %>% summarize(Num_Play = n())
  ) -> College
  
  Schools
      %>% select(name_full, schoolID)
      %>% left_join(College, by = "schoolID")
      %>% arrange(desc(Num_Play))
      %>% select(name_full, Num_Play)`

In [22]:
%%SQL
    SELECT A.name_Full, B.Num_Play
    FROM ( 
    (SELECT name_Full, SchoolID FROM Schools) AS A
        INNER JOIN 
            (SELECT SchoolID, COUNT(SchoolID) AS Num_Play, YearID FROM CollegePlaying
                WHERE YearID = 2009 
                GROUP BY SchoolID) AS B
        ON A.SchoolID = B.SchoolID
        )
    ORDER BY Num_Play DESC

                                     name_Full  Num_Play
0  University of North Carolina at Chapel Hill         5
1                     Arizona State University         4
2           University of California, Berkeley         4
3                University of Texas at Austin         4
4                            Tulane University         4
5                    Dallas Baptist University         3
6                 Nova Southeastern University         3
7                        University of Florida         3
8                          University of Miami         3
9                 University of South Carolina         3