In [1]:
%load_ext pyensae

In [4]:
%SQL_connect ./databases/baseball_full.db

### **Question 1, Part a**
Calculating the ERAs considered OK for Minnesota Twins and Milwauke Brewers Players.

**dplyr code**

```
Pitching
    %>% select(playerID, teamID, ER, IPouts)
    %>% filter((teamID == "MIL" | teamID == "MIN") & YearID == '2000)
    %>% mutate(Calc_Era = (ER/(Ipouts/3))*9
    %>% filter(Calc_ERA < 4)
    %>% select(playerID, teamID, Calc_ERA)```

In [ ]:
%%SQL

### Question 1, Part b

Calculating the ERA for the Minnesota Twins and Milwauke Brewers for the years 2000, 2005, 2010, and 2015.

**dplyr code**

```
  Teams
    %>% select(teamID, yearID, ER, IPouts)
    %>% filter((teamID == "MIL" | teamID == "MIN) & (yearID %in% ('2000', '2005', '2010', '2015)))
    %>% mutate(Calc_ERA = (ER/(IPouts/3))*9)
    %>% select(yearID, teamID, Calc_ERA)
    %>% arrange(yearID, teamID)```

In [ ]:
%%SQL

### Question 2, Part a

Finding the average salary by team for 2006 and 2012.  

**dplyr code**


```
(Franchises
    %>% select(franchID, franchName)
  ) -> Franch
  
  (Teams
      %>% select(yearID, teamID, franchID)
      %>% left_join(Franch, by = "franchID")
      %>% select(teamID, franchName)
  )-> Teams_Franch
  
  Salaries
      %>% select(yearID, teamID, salary)
      %>% filter(yearID %in% ('2006', '2012')
      %>% inner_join(Teams_Franch, by = "teamID")
      %>% group_by(franchName, teamID, yearID)
      %>% summarize(Avg_Salary = mean(salary))```

In [ ]:
%%SQL

### Question 2, Part b

Find the team with the largest salary overall, regardless of year.

**dplyr code**

```
 Salaries
    %>% select(yearID, teamID, salary)
    %>% inner_join(Teams_Franch, by = "teamID")
    %>% group_by(franchName, teamID, yearID)
    %>% summarize(Avg_Salary = mean(salary))
    arrange(desc(Avg_Salary))```

In [ ]:
%%SQL

### Question 3

Get a list of the players' names for the Detriot Tigers that have been born since 1980.

**dplyr code**

```
(Batting
    %>% select(teamID, playerID)
    %>% distinct(teamID, playerID)
    %>% filter(teamID == "DET")
  ) -> Batting2
  
  People
      %>% select(nameFirst, nameLast, playerID, birthYear)
      %>% filter(birthYear >= "1980")
      %>% left_join(Batting2, by = "playerID")
      %>% filter(teamID != "<NA>")
      %>% arrange(desc(nameLast))
      %>% transmute(TeamID = teamID, Player_Name = paste(namefirst, nameLast, sep = " "))```

In [ ]:
%%SQL

### Question 4

Calculating OPS for each player since 2010.

**dplyr code**

```
 Batting
    %>% filter(yearID >= "2010" & HBP != "NA" & SH != "NA")
    %>% transmute(ID = playerID, OBP = ((H + BB + HBP)/(AB + BB + SH + HBP)), SLG = ((H + 2*X2B + 3*X3B + 4*HR)/AB))
    %>% transmute(ID = ID, OBP = OBP, SLG = SLG, OPS = OBP + SLG)
    %>% filter(OPS != "NaN" & OPS != "0")```

In [ ]:
%%SQL

### Question 5

Find the number of players from each college or university for 2009.

**dplyr code**

```
(CollegePlaying
    %>% select(schooID, yearID)
    %>% filter(yearID == '2009)
    %>% group_by(schoolID)
    %>% summarize(Num_Play = n())
  ) -> College
  
  Schools
      %>% select(name_full, schoolID)
      %>% left_join(College, by = "schoolID")
      %>% arrange(desc(Num_Play))
      %>% select(name_full, Num_Play)```

In [ ]:
%%SQL