## Example R Notebook

In [ ]:
install.packages("dplyr")
install.packages("dbplyr")
install.packages("RSQLite")

In [99]:
library(dplyr)

## Why pipe

## Basic workflow

## Basic Data Verbs

* Select, filter, mutate

## Examples

1. select + filter: Num of players with over 200 RBI in a season
2. mutate: Hits per 9 innings

## Concatenating tables

* union, intersection, difference

## Examples

??

## Joining tables

## Examples

## <font color="red"> Exercise ?? </font>

Find all players that have hit over 50 home runs (`HR` in `./data/baseball/core/Batting.csv`) in a single season.  Your final table shoule include the following columns.

1. The players first name
2. The players last name
3. The year
4. The name of the players team that year
5. The name of the home park for that team

**Bonus:** Filter the intermediate table to the minimum number of rows.

In [94]:
batting <- read.csv("./data/baseball/core/Batting.csv")
batting %>% head(2)

  playerID  yearID stint teamID lgID G  AB  R  H  X2B ⋯ RBI SB CS BB SO IBB HBP
1 abercda01 1871   1     TRO    NA    1   4  0  0 0   ⋯  0  0  0  0  0  NA  NA
2 addybo01  1871   1     RC1    NA   25 118 30 32 6   ⋯ 13  8  1  4  0  NA  NA
  SH SF GIDP
1 NA NA 0
2 NA NA 0

In [95]:
people <- read.csv("./data/baseball/core/People.csv")
people %>% head(2)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
  deathYear deathMonth deathDay ⋯ nameLast nameGiven   weight height bats
1 NA        NA         NA       ⋯ Aardsma  David Allan 215    75     R
2 NA        NA         NA       ⋯ Aaron    Henry Louis 180    72     R
  throws debut      finalGame  retroID  bbrefID
1 R      2004-04-06 2015-08-23 aardd001 aardsda01
2 R      1954-04-13 1976-10-03 aaroh101 aaronha01

In [97]:
teams <- read.csv("./data/baseball/core/Teams.csv")
teams %>% head(2)

  yearID lgID teamID franchID divID Rank G  Ghome W  L  ⋯ DP FP
1 1871   NA   BS1    BNA            3    31 NA    20 10 ⋯ 24 0.834
2 1871   NA   CH1    CNA            2    28 NA    19  9 ⋯ 16 0.829
  name                    park                    attendance BPF PPF teamIDBR
1 Boston Red Stockings    South End Grounds I     NA         103  98 BOS
2 Chicago White Stockings Union Base-Ball Grounds NA         104 102 CHI
  teamIDlahman45 teamIDretro
1 BS1            BS1
2 CH1            CH1

## <font color="blue"> Key </font>

In [62]:
(batting 
 %>% select(playerID, teamID, yearID, HR) 
 %>% filter(HR >= 50)
 #%>% head
) -> over50hr
over50hr %>% head

  playerID  teamID yearID HR
1 ruthba01  NYA    1920   54
2 ruthba01  NYA    1921   59
3 ruthba01  NYA    1927   60
4 ruthba01  NYA    1928   54
5 wilsoha01 CHN    1930   56
6 foxxji01  PHA    1932   58

In [82]:
(people 
 %>% select(playerID, nameFirst, nameLast) 
 %>% filter(playerID %in% over50hr$playerID)
) -> players_names
players_over_50_hr %>% head

  playerID  nameFirst nameLast
1 aardsda01 David     Aardsma
2 aaronha01 Hank      Aaron
3 aaronto01 Tommie    Aaron
4 aasedo01  Don       Aase
5 abadan01  Andy      Abad
6 abadfe01  Fernando  Abad

In [91]:
(teams
 %>% select(teamID, yearID, name, park)
 %>% mutate(temp_key = paste(teamID, yearID))
 %>% filter(temp_key %in% paste(over50hr$teamID, over50hr$yearID))
 %>% select(-one_of("temp_key"))
 ) -> teams_name_park
teams_name_park %>% head

  teamID yearID name                   park
1 NYA    1920   New York Yankees       Polo Grounds IV
2 NYA    1921   New York Yankees       Polo Grounds IV
3 NYA    1927   New York Yankees       Yankee Stadium I
4 NYA    1928   New York Yankees       Yankee Stadium I
5 CHN    1930   Chicago Cubs           Wrigley Field
6 PHA    1932   Philadelphia Athletics Shibe Park

In [81]:
(over50hr
 %>% inner_join(players_names, by = 'playerID')
 %>% inner_join(teams_name_park, by=c('yearID', 'teamID'))
 %>% select(-one_of("playerID", "teamID"))
 %>% arrange(desc(yearID))
 #%>% head
)

Warning message:
“Column `playerID` joining factors with different levels, coercing to character vector”

   yearID HR nameFirst nameLast  name
1  2017   52 Aaron     Judge     New York Yankees
2  2017   59 Giancarlo Stanton   Miami Marlins
3  2013   53 Chris     Davis     Baltimore Orioles
4  2010   54 Jose      Bautista  Toronto Blue Jays
5  2007   50 Prince    Fielder   Milwaukee Brewers
6  2007   54 Alex      Rodriguez New York Yankees
7  2006   58 Ryan      Howard    Philadelphia Phillies
8  2006   54 David     Ortiz     Boston Red Sox
9  2005   51 Andruw    Jones     Atlanta Braves
10 2002   57 Alex      Rodriguez Texas Rangers
11 2002   52 Jim       Thome     Cleveland Indians
12 2001   73 Barry     Bonds     San Francisco Giants
13 2001   57 Luis      Gonzalez  Arizona Diamondbacks
14 2001   52 Alex      Rodriguez Texas Rangers
15 2001   64 Sammy     Sosa      Chicago Cubs
16 2000   50 Sammy     Sosa      Chicago Cubs
17 1999   65 Mark      McGwire   St. Louis Cardinals
18 1999   63 Sammy     Sosa      Chicago Cubs
19 1998   56 Ken       Griffey   Seattle Mariners
20 1998   70 Mark      McGwire   St. Louis Cardinals
21 1998   66 Sammy     Sosa      Chicago Cubs
22 1998   50 Greg      Vaughn    San Diego Padres
23 1997   56 Ken       Griffey   Seattle Mariners
24 1996   50 Brady     Anderson  Baltimore Orioles
25 1996   52 Mark      McGwire   Oakland Athletics
26 1995   50 Albert    Belle     Cleveland Indians
27 1990   51 Cecil     Fielder   Detroit Tigers
28 1977   52 George    Foster    Cincinnati Reds
29 1965   52 Willie    Mays      San Francisco Giants
30 1961   54 Mickey    Mantle    New York Yankees
31 1961   61 Roger     Maris     New York Yankees
32 1956   52 Mickey    Mantle    New York Yankees
33 1955   51 Willie    Mays      New York Giants
34 1949   54 Ralph     Kiner     Pittsburgh Pirates
35 1947   51 Ralph     Kiner     Pittsburgh Pirates
36 1947   51 Johnny    Mize      New York Giants
37 1938   50 Jimmie    Foxx      Boston Red Sox
38 1938   58 Hank      Greenberg Detroit Tigers
39 1932   58 Jimmie    Foxx      Philadelphia Athletics
40 1930   56 Hack      Wilson    Chicago Cubs
41 1928   54 Babe      Ruth      New York Yankees
42 1927   60 Babe      Ruth      New York Yankees
43 1921   59 Babe      Ruth      New York Yankees
44 1920   54 Babe      Ruth      New York Yankees
   park
1  Yankee Stadium III
2  Marlins Park
3  Oriole Park at Camden Yards
4  Rogers Centre
5  Miller Park
6  Yankee Stadium II
7  Citizens Bank Park
8  Fenway Park II
9  Turner Field
10 The Ballpark at Arlington
11 Jacobs Field
12 PacBell Park
13 Bank One Ballpark
14 The Ballpark at Arlington
15 Wrigley Field
16 Wrigley Field
17 Busch Stadium II
18 Wrigley Field
19 Kingdome
20 Busch Stadium II
21 Wrigley Field
22 Qualcomm Stadium
23 Kingdome
24 Oriole Park at Camden Yards
25 Oakland Coliseum
26 Jacobs Field
27 Tiger Stadium
28 Riverfront Stadium
29 Candlestick Park
30 Yankee Stadium I
31 Yankee Stadium I
32 Yankee Stadium I
33 Polo Grounds IV
34 Forbes Field
35 Forbes Field
36 Polo Grounds IV
37 Fenway Park II
38 Briggs Stadium
39 Shibe Park
40 Wrigley Field
41 Yankee Stadium I
42 Yankee Stadium I
43 Polo Grounds IV
44 Polo Grounds IV

## Make a connection to the database

We use `DBI` and `RSQLite` to establish a connection to the database.

In [63]:
library(dplyr)
library(DBI)
con <- DBI::dbConnect(RSQLite::SQLite(), path = "./databases/baseball_full.db")

## List all tables

The **should** list all of the tables in the database.

# <font color="red"> TODO - WTF is going on here!?! </font>

In [64]:
dbListTables(con)

character(0)

In [65]:
people <- tbl(con, "People")

ERROR: Error in result_create(conn@ptr, statement): no such table: People

## Checking if the problem is my database

To double check that this isn't an issue with my database, I have downloaded someone else's sqlite baseball database.  Same issue.

In [66]:
library(dplyr)
library(DBI)
library(RSQLite)
con2 <- dbConnect(SQLite(), path = "./databases/lahman2016.sqlite")

In [67]:
dbListTables(con2)

character(0)

In [68]:
people <- tbl(con, "People")

ERROR: Error in result_create(conn@ptr, statement): no such table: People